<header class="sticky-top">
  <nav class="navbar barra-nav">
    <a class="navbar-brand">
      <i class="fa fa-bars mr-2"
      (click)="menu.abreMenu()"
      (keyup.space)="menu.abreMenu()"
      >
      LOGO
      </i>

    </a>

    <app-menu #menu>
      <ul class="list-unstyled">
        <li>
          <a [routerLink]="['animais', 'novo']">Novo Animal</a>
        </li>
      </ul>
    </app-menu>

    <div *ngIf="user$ | async as user">
      <div *ngIf="user.name; else login">
        <div class="template-login">
          <img class="img" src="../../../assets/icons/profile-user.png" alt="">

          <div class="content-login">
            <a class="mr-1">Olá, {{user.name}}</a>
            <a class="click-sair" (click)="logout()">Sair</a>
          </div>
        </div>
      </div>
    </div>

    <ng-template #login>

      <div class="template-login">

        <img src="../../../assets/icons/profile-user.png" alt="">

        <div class="content-login">
          <span>Olá, visitante!</span>
          <a [routerLink]="['']"> Login</a>
        </div>
      </div>

    </ng-template>

  </nav>
</header>

