@import "../../../styles.scss";

.barra-nav{
  height: 4.3rem;
  background-color: $azul;

  & .navbar-brand{
    color: $branco;
    padding-left: 1rem;
    cursor: pointer;
  }
}

.template-login{
  display: flex;
  padding-right: 1rem;

  & img{
    margin-right: 10px;
    width: 36px;
    height: 36px;
  }

  & .content-login{
    color: $branco;
    margin-right: 1rem;
    font-size: 1rem;

    & span{
      font-weight: 500;
    }

    & a{
      color: $branco;
      text-decoration: none;
      display: block;
      font-weight: 500;
    }

    & .click-sair{
      cursor: pointer;
      font-weight: bold;
    }
  }
}
