/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: 'Bebas Neue', "Helvetica Neue", sans-serif; }

// Padrão de cores
$preto: #1E2326;
$branco: #FEFEFE;
$roxo: #652D90;
$azul: #0F75BD;
$azulClaro: #a2def8;

// Fonts
$fontPrincipal: 'Bebas Neue';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
