/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// Padrão de cores
$preto: #1E2326;
$azul: #91bada;
$branco: #F3F6F8;
$cinza: #707070;
$marrom: #B2977C;
